In [1]:
# importing necessary libraries
from pathlib import Path
import pandas as pd

# import paths
menu_csv = Path('./Resources/menu_data.csv')
sales_csv = Path('./Resources/sales_data.csv')
df_menu = pd.read_csv(menu_csv)
df_sales = pd.read_csv(sales_csv)

# Grouping menu item and summing the quantity of sales
df_sales_food = df_sales.groupby('Menu_Item')['Quantity'].sum()

# Grouping menu items and price
df_menu_price = df_menu.groupby('item')['price'].sum()

# Grouping menu items and cost
df_menu_cost = df_menu.groupby('item')['cost'].sum()

# Concating Qantity Price and Cost and dropping na
df3 = pd.concat([df_sales_food,df_menu_price,df_menu_cost], axis = 'columns').dropna()

# Adding new column 'revenue'
df3['revenue'] = df3['Quantity']*df3['price']

# Adding new column for Cost of Goods 'cog'
df3['cog'] = df3['Quantity']*df3['cost']

# Adding new column for 'profits'
df3['profits'] = df3['revenue']-df3['cog']

In [2]:
#Renaming columns
df3.rename(columns = {'Quantity':'01-count', 'revenue':'02-revenue','cog':'03-cogs','profits':'04-profit'}, inplace = True)
#drop price & cost column from DataFrame
cols = [1,2]
df3.drop(df3.columns[cols], axis=1, inplace=True)

In [3]:
# Sort by 04-profit column so the largest profit appears first
df4 = df3.sort_values(by='04-profit', ascending=False)
df4

,01-count,02-revenue,03-cogs,04-profit
burnt garlic tonkotsu ramen,9070.0,126980.0,54420.0,72560.0
tonkotsu ramen,9288.0,120744.0,55728.0,65016.0
spicy miso ramen,9238.0,110856.0,46190.0,64666.0
vegetarian spicy miso,9216.0,110592.0,46080.0,64512.0
tori paitan ramen,9156.0,119028.0,54936.0,64092.0
soft-shell miso crab ramen,9130.0,127820.0,63910.0,63910.0
truffle butter ramen,8982.0,125748.0,62874.0,62874.0
shio ramen,9180.0,100980.0,45900.0,55080.0
nagomi shoyu,9132.0,100452.0,45660.0,54792.0
miso crab ramen,8890.0,106680.0,53340.0,53340.0
vegetarian curry + king trumpet mushroom ramen,8824.0,114712.0,61768.0,52944.0

In [4]:
# Printing csv results to output directory
ramen_report_file_path = Path('./Output/py_ramen_report.csv') 
ramen_report_file_path.parent.mkdir(parents=True, exist_ok=True) 
df4.to_csv(ramen_report_file_path)

In [5]:
# Printing to txt file in output directory
txt_path = Path('./Output/ramen_report.txt')
with open(txt_path, 'w') as f:
    print(f"{df4.index[0]} {dict(df4.iloc[0])}", file=f)
    print(f"{df4.index[1]} {dict(df4.iloc[1])}", file=f)
    print(f"{df4.index[2]} {dict(df4.iloc[2])}", file=f)
    print(f"{df4.index[3]} {dict(df4.iloc[3])}", file=f)
    print(f"{df4.index[4]} {dict(df4.iloc[4])}", file=f)
    print(f"{df4.index[5]} {dict(df4.iloc[5])}", file=f)
    print(f"{df4.index[6]} {dict(df4.iloc[6])}", file=f)
    print(f"{df4.index[7]} {dict(df4.iloc[7])}", file=f)
    print(f"{df4.index[8]} {dict(df4.iloc[8])}", file=f)
    print(f"{df4.index[9]} {dict(df4.iloc[9])}", file=f)
    print(f"{df4.index[10]} {dict(df4.iloc[10])}", file=f)